.vp-doc a:not(.header-anchor) {
    text-decoration: none !important;
    color: var(--vp-c-brand-1);
    font-weight: 500;

    background: linear-gradient(to right, currentColor, currentColor) no-repeat;

    background-size: 0 2px;

    background-position: right bottom;

    transition:
        background-size 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
        color 0.3s ease;

    padding-bottom: 2px;
}

/* 鼠标悬停时的状态 */
.vp-doc a:not(.header-anchor):hover {
    color: var(--vp-c-brand-2);

    background-size: 100% 2px;

    background-position: left bottom;
}
