:root {
    --yuuka-blue-1: #8ecbff;
    --yuuka-blue-2: #5ab0ff;
    --yuuka-blue-3: #2f8ae8;
    --yuuka-blue-4: #2475ca;

    --yuuka-purple-1: #c7b5ff;
    --yuuka-purple-2: #b49aff;
    --yuuka-purple-3: #9a7dff;

    --vp-home-hero-name-background: linear-gradient(
        -45deg,
        #b49aff 0%,
        #5ab0ff 100%
    );

    --vp-home-hero-image-background-image: linear-gradient(
        -45deg,
        #abdcff 0%,
        #4ab3ff 45%,
        #8a63ff 100%
    );
    --vp-home-hero-image-filter: blur(75px);

    --vp-c-indigo-1: #43aefc;
    --vp-c-indigo-2: #43aefc;
    --vp-c-indigo-3: #43aefc;

    --vp-c-brand-1: var(--yuuka-blue-2);
    --vp-c-brand-2: var(--yuuka-blue-3);
    --vp-c-brand-3: var(--yuuka-blue-3);

    --vp-button-brand-bg: var(--yuuka-blue-2);
    --vp-button-brand-hover-bg: #50a8f8;
    --vp-button-brand-active-bg: #469ff1;
}

.dark {
    --vp-button-brand-bg: var(--yuuka-blue-3);
    --vp-button-brand-hover-bg: #3993eb;
    --vp-button-brand-active-bg: #449cef;
}

.VPHero {
    text-align: left !important;
}

.VPHero .name {
    padding-bottom: 8px;
    line-height: 1.25 !important;

    background: var(--vp-home-hero-name-background) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
}

.vp-nav__link.active {
    border-bottom: 2px solid var(--vp-c-brand-1);
}

.VPHero .text {
    margin-top: 12px;
    line-height: 1.6;
    font-weight: 600;
}

.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    z-index: 9999 !important;
}

.VPHero .tagline {
    margin-top: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--yuuka-purple-2);
}
